<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Numerical Integration Api" />
        <meta name="author" content="Özgür Akıncı" />
        <title>Numerical Integration Api</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link th:href="@{/styles/style.css}" rel="stylesheet"/>
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <a class="navbar-brand" href="/index">Numerical Integration Api</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="/swagger-ui/index.html">Api Documentation</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <section class="py-5" id="features1">
                            <form class="card card-sm">
                                <div class="card-body row no-gutters align-items-center">
                                    <!--end of col-->
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-6 form-check form-check d-flex justify-content-center">
                                                <input class="form-check-input" disabled type="checkbox" id="toTextValue" checked>
                                                <label class="form-check-label" for="toTextValue">To Text</label>
                                            </div>
                                            <div class="col-6 form-check form-check d-flex justify-content-center">
                                                <input class="form-check-input" type="checkbox" id="toPdfValue" checked>
                                                <label class="form-check-label" for="toPdfValue">To Pdf</label>
                                            </div>
                                        </div>
                                        <div class="row" id="formArea">
                                            <div class="form-input">
                                                <label class="form-check-label" for="hValue">Adım Boyutu (h_size)</label>
                                                <input class="form-control form-control-lg form-control-borderless" id="hValue"
                                                       value="0.15707963267" type="text" placeholder="">
                                            </div>

                                            <div class="form-input mt-3">
                                                <label class="form-check-label" for="nValue">Noktalar</label>
                                                <input class="form-control form-control-lg form-control-borderless" id="nValue"
                                                       value="0,1,2" type="text" placeholder="">
                                            </div>

                                            <div class="form-input mt-3">
                                                <label class="form-check-label" for="fValue">Fonksiyon Değer Sayısı</label>
                                                <input onchange="appendArea()" class="form-control form-control-lg form-control-borderless" id="fValue"
                                                       value="3" type="number" placeholder="">
                                            </div>
                                        </div>


                                    </div>
                                    <!--end of col-->
                                    <div class="col-12 pt-5">
                                        <div class="row ">
                                            <button id="btn" class="btn btn-lg btn-search btn-primary d-block" type="submit">
                                                Calculate
                                            </button>
                                        </div>
                                    </div>
                                    <!--end of col-->
                                </div>
                            </form>
                        </section>
                    </div>


                    <div class="col-md-8">
                        <section class="py-5" id="features2">
                            <!-- RESULT -->
                            <div class="container px-5">
                                <p>Fill in the fields in the filter section and evaluate the calculation results. According to the determined N value, y fields will be created dynamically.</p>
                                <div class="errorDiv text-center alert alert-danger"></div>
                                <div class="text-center"><div class="spinner spinner-border"></div></div>
                                <div class="row results">
                                    <nav>
                                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                            <button class="nav-link active" id="tab1" data-bs-toggle="tab" data-bs-target="#t1" type="button" role="tab" aria-controls="t1" aria-selected="true">Text</button>
                                            <button class="nav-link" id="tab2" data-bs-toggle="tab" data-bs-target="#t2" type="button" role="tab" aria-controls="t2" aria-selected="false">LateX</button>
                                        </div>
                                    </nav>
                                    <div class="tab-content" id="nav-tabContent">
                                        <div class="tab-pane fade show active" id="t1" role="tabpanel" aria-labelledby="tab1">
                                            <div class="card-columns overflow-scroll" style="max-height: 500px">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Text</h5>
                                                        <pre id="textArea"></pre>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="t2" role="tabpanel" aria-labelledby="tab2">
                                            <div class="card-columns overflow-scroll" style="max-height: 500px">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h5 class="card-title">LateX</h5>
                                                        <pre id="latexArea"></pre>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </section>

                        <section class="py-5" id="features3">
                            <div class="container px-5">
                                <div class="row gx-5">
                                    <div class="col-lg-12">
                                        <div class="row gx-5 row-cols-1 row-cols-md-2">
                                            <div class="col mb-5 h-100">
                                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                                                <h2 class="h5">Determine the coefficient</h2>
                                                <p class="mb-0">A polynomial will be created with the coefficient you specify.</p>
                                            </div>
                                            <div class="col mb-5 h-100">
                                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                                                <h2 class="h5">Choose output format</h2>
                                                <p class="mb-0">You will see results depending on the output format you choose.</p>
                                            </div>
                                            <div class="col mb-5 mb-md-0 h-100">
                                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                                                <h2 class="h5">Check out the results</h2>
                                                <p class="mb-0">You can review the results step by step.</p>
                                            </div>
                                            <div class="col h-100">
                                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                                                <h2 class="h5">Learn</h2>
                                                <p class="mb-0">Thus, learn about generating numerical integration expressions with polynomial-based approaches.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>


            <!-- Features section-->

            <!-- Testimonial section-->
            <div class="py-5 bg-light">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-10 col-xl-7">
                            <div class="text-center">
                                <div class="fs-4 mb-4 fst-italic">"This study was prepared and published for the master's thesis of the Computer Engineering department of Karadeniz Technical University."</div>
                                <div class="d-flex align-items-center justify-content-center">
                                    <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d" alt="..." />
                                    <div class="fw-bold">
                                        Özgür Akıncı
                                        <span class="fw-bold text-primary mx-1">/</span>
                                        Computer Engineer
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Blog preview section-->

        </main>
        <!-- Footer-->
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; 2024</div></div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

        <!-- Core theme JS-->
        <script th:src="@{/js/scripts.js}"></script>
    </body>
</html>
